<div class="row justify-content-center">
  <div class="col-6" *ngIf="loadFlag">
    <img src="assets/images/loading-gif.gif" class="w-100">
  </div>
</div>

<ng-container *ngIf="!loadFlag">
  <div class="row mt-3 gy-5 mx-3">
  <div class="col-4" *ngFor="let item of projects ; let f = first">
    <div class="card mb-3" [routerLink]="['/project',item._id]">

      <ng-container *ngFor="let img of item.projectImg ; let f = first" >
        <img class="card-img-top imgHeight" *ngIf="f" src="http://localhost:3000/{{img}}">

</ng-container>
      <div class="card-body">
        <h3>{{item.projectName}}</h3>
      </div>
    <h3></h3>
    </div>
  </div>
</div>
</ng-container>
