<!DOCTYPE html>
<html lang="en">

<body>
    <div class="detail-container">
      <ng-container *ngFor="let img of unit.unitImg ; let f = first" >
        <img class="img" *ngIf="f" src="http://localhost:3000/{{img}}">
      </ng-container>
        <div class="detail-item">
            <p class="product-detail product-title">unit Number:{{unit.unitNum}}</p>
            <p class="product-detail product-title">price: {{unit.price}}</p>
            <p class="product-detail product-title">status: {{unit.status}}</p>

        </div>
    </div>
</body>

</html>
