<div class="container">
  <div class="my-5">
    <h1>
      Edit URL
    </h1>
  </div>
  <form #urlForm="ngForm" (ngSubmit)="handleSubmit()">
      <div class="row mb-3 mt-3">
          <input class="form-control in-field inputs" type="text" name="link" placeholder="link" [(ngModel)]="url.link" #link="ngModel" required>
      </div>

      <div class="row mb-3">
          <input class="form-control in-field inputs" type="text" name="methods" placeholder="method" [(ngModel)]="url.methods" #methods="ngModel"  >

      </div>

      <div class="row mb-3">
        <input class="form-control in-field inputs" type="text" name="queries" placeholder="queries" [(ngModel)]="url.queries" #queries="ngModel"  >


    </div>

    <div class="row mb-3">
      <input class="form-control in-field inputs" type="text" name="params" placeholder="params" [(ngModel)]="url.params" #params="ngModel"  >
  </div>

  <div class="row mb-3">
    <input class="form-control in-field inputs" type="text" name="roles" placeholder="roles" [(ngModel)]="url.roles" #roles="ngModel"  >
</div>

      <div class="row mb-3">
          <div class="sign-button">
              <button class="btn btn-primary d-block" type="submit" [disabled]="urlForm.invalid">Edit</button>
          </div>
      </div>
  </form>
</div>
