
<div class="container">
  <form class="my-5" #passwordForm="ngForm" (ngSubmit)="handleSubmit(passwordForm)">
<div class="row mb-3">
  <input class="form-control in-field inputs" type="password" name="password" placeholder="password" #password="ngModel" [(ngModel)]="data.password">
  <div class="alert alert-danger" *ngIf="password.errors?.['required']">
    <p>must add password first</p>
</div>
</div>
<div class="row mb-3">
  <div class="sign-button">
      <button class="btn btn-primary d-block" type="submit" [disabled]="passwordForm.invalid">change</button>
  </div>
</div>
  </form>
</div>
